<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
                xmlns:app="http://schemas.android.com/apk/res-auto"
    android:layout_width="match_parent"
    android:layout_height="match_parent">

  <android.support.v7.widget.Toolbar
    android:id="@+id/toolbar"
    android:minHeight="?attr/actionBarSize"
    android:layout_width="match_parent"
    android:layout_height="40dp"
    android:background="?attr/colorPrimary"
    app:titleTextColor="@android:color/white"/>

  <android.support.design.widget.TextInputLayout
    android:layout_below="@+id/toolbar"
    android:id="@+id/txtName"
    android:layout_width="match_parent"
    android:layout_height="wrap_content">

    <EditText
      android:id="@+id/name"
      android:hint="Enter Your Name"
      android:inputType="textCapWords"
      android:maxLines="1"
      android:layout_width="match_parent"
      android:layout_height="wrap_content"
	/>
  </android.support.design.widget.TextInputLayout>

  <android.support.design.widget.TextInputLayout
    android:layout_below="@+id/txtName"
    android:id="@+id/txtEmail"
    android:layout_width="match_parent"
    android:layout_height="wrap_content">

    <EditText
      android:id="@+id/email"
      android:hint="Enter Your Email"
      android:inputType="textCapWords"
      android:maxLines="1"
      android:layout_width="match_parent"
      android:layout_height="wrap_content"/>
  </android.support.design.widget.TextInputLayout>

  <ListView
    android:id="@+id/list_data"
    android:layout_below="@+id/txtEmail"
    android:layout_width="match_parent"
    android:layout_height="wrap_content"/>

  <ProgressBar
    android:id="@+id/circularProgress"
    android:visibility="invisible"
    android:layout_centerInParent="true"
    android:theme="@style/CircularProgress"
    android:layout_width="match_parent"
    android:layout_height="wrap_content"
    style="@style/Widget.AppCompat.ProgressBar"/>
  
</RelativeLayout>